body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

#container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.choice {
  overflow: hidden;
  flex: 1 1 auto;
  cursor: pointer;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  transition: background-color 0.5s;
}

.choice > p {
  display: none;
}

.unfinished > .choice:hover {
  width: 4rem;
}

.unfinished > .choice:hover > p {
  display: block;
}

#poem {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.unfinished > #poem {
  display: none;
}

.poem-text {
  text-align: left;
  margin: 0 auto;
  line-height: 1.2em;
}

#reconsider {
  position: absolute;
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.5s;
  bottom: 1em;
  left: 1em;
  z-index: 50;
}

#reconsider:hover {
  opacity: 1;
}
